 @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap'); 


*{
	margin: 0;
	padding: 0;
}

body{ 
	background-color: #0000;
	font-family: "Roboto", sans-serif;
	background-image: url(html 2/image/pattern.jpg);

} 

h1{
	color: black;
	margin-top: 20px;
}

.bordo{
	color: darkred;
} 

h2{
	color: black;
	margin-top: 20px;
}


h5{
	color:black;
}

nav{
	display:flex;
	gap:2rem;
}

nav a {
	color: indianred;
	position: relative;
	padding-botton: 0.5 rem;
	font-weight: bold;

}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem 2rem;
	border-bottom: 5px solid darkred;

}

#rectangulo{
	Width: 400px;
	height: 200px;
	background-color: #e55039;
	margin: 30px;
	padding: 30px;
}

.nav{
	justify-content: space-between;

}

.contenido {
  display: grid;
  grid-template-columns: 1fr 1fr; 
  gap: 2rem; 
  align-items: center;
  padding: 10rem;
}

.contenido img {
  width: 100%;
  max-width: 400px;
  height: auto;
  border-radius: 8px;
}

.texto {
  max-width: 600px;
}

.titulo-grande{
	font-size: 50px;
	color: darkred;
}



